* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgba(245, 245, 245, 0.73);
  padding-bottom: 60px;
}

.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #007bff;
  border-bottom: 1px solid rgba(245, 245, 245, 0.73);
}
.header-logo {
  height: 40px; /* Ajuste para corresponder à altura desejada */
  width: auto; /* Mantém a proporção da imagem */
}
.product-image {
  display: block;
  margin: 10px auto;
  border-radius: 8px;
  max-width: 20%;
  height: auto;
}

.product-info {
  padding: 20px;
  text-align: center;
  position: relative;
}

.brand-tag {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
  background-color: #ff0026;
}

.product-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: green;
}

.stock-info {
  position: relative; /* Permite posicionamento absoluto dos elementos filhos */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.cart-button {
  position: absolute; /* Para posicionar o botão em relação ao .stock-info */
  top: 0; /* Alinha ao topo */
  right: 0; /* Alinha à direita */
  height: 100%; /* Ocupa toda a altura de .stock-info */
  width: 50px; /* Largura fixa para o botão */
  background-color: #ffffff; /* Cor de fundo do botão */
  color: white; /* Cor do ícone */
  border: none;
  border-radius: 0 5px 5px 0; /* Arredonda os cantos direitos */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10; /* Garante que o botão fique à frente dos outros elementos */
}

.cart-button i {
  font-size: 20px; /* Ajusta o tamanho do ícone */
}

.cart-button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.stock-tag {
  background-color: #ff0026;
  color: white;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 14px;
}

.stock-value {
  margin-top: 3px;
  background-color: #ff0026;
  color: white;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 14px;
}

.description {
  background-color: white;
  padding: 20px;
  margin: 5px 20px 5px 20px;
}

.description h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.description p {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}
.buy-button-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  margin-top: 20px; /* Ajusta o espaçamento vertical conforme necessário */
}

.buy-button {
  background-color: #ff0026;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.next-button {
  background-color: #ff0026;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.back-button {
  background-color: #ff0026;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.nav-item {
  text-align: center;
  font-size: 12px;
  color: #666;
  text-decoration: none;
}

.nav-item.active {
  color: #007bff;
}

@media (max-width: 480px) {
  .product-image {
    max-width: 60%; /* A largura da imagem será 90% do contêiner */
    margin: 0 auto; /* Centraliza a imagem */
  }

  .header {
    font-size: 14px; /* Reduz o tamanho do texto no cabeçalho */
    padding: 10px;
  }
  .header-logo {
    height: 20px; /* Ajuste para corresponder à altura desejada */
    width: auto; /* Mantém a proporção da imagem */
  }

  .product-info {
    padding: 20px 20px 1px 20px;
    text-align: center;
    position: relative;
  }

  .product-title {
    font-size: 16px; /* Ajusta o tamanho do título */
  }

  .price {
    font-size: 18px; /* Reduz o tamanho do preço */
  }

  .description h3 {
    font-size: 14px; /* Ajusta o tamanho do subtítulo */
  }

  .description p {
    font-size: 12px; /* Ajusta o tamanho do texto */
  }

  .description {
    padding-bottom: 5px;
  }

  .buy-button {
    font-size: 14px; /* Reduz o tamanho do botão */
    padding: 8px 16px;
  }

  .bottom-nav {
    font-size: 10px; /* Ajusta o tamanho dos itens do menu inferior */
    padding: 8px;
  }
}
