* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgba(245, 245, 245, 0.73);
  padding-bottom: 60px;
}

.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #007bff;
  border-bottom: 1px solid rgba(245, 245, 245, 0.73);
}

.product-image {
  display: block;
        margin: 10px auto;
        border-radius: 8px;
}

.product-info {
  padding: 10px;
        text-align: center;
}

.brand-tag {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
  background-color: #dc3545;
}

.product-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.price {
  font-size: 22px;
        font-weight: bold;
        color: green
}

.stock-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.stock-tag {
  background-color: #ff6b00;
  color: white;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 14px;
}

.stock-value {
  background-color: #ff6b00;
  color: white;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 14px;
}

.description {
  background-color: white;
  padding: 20px;
  margin: 20px
}

.description h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.description p {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}
.buy-button {
  display: inline-block;
  margin: 20px auto;
  text-align: center;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
}

.nav-item {
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.nav-item.active {
  background-color: #555;
}