body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #004aad;
  color: #fff;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header img {
  border-radius: 5%;
  height: 85px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  flex: 1;
}


.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card.promo {
  border-left: 5px solid #ff5722;
}

.card.discount {
  border-left: 5px solid #4caf50;
}

.card.category {
  border-left: 5px solid #2196f3;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  color: #555;
}

.card img {
  width: 100px; /* Define a largura fixa */
  height: 100px; /* Define a altura fixa, igual à largura */
  object-fit: cover; /* Ajusta o conteúdo para caber no círculo sem distorção */
  border-radius: 50%; /* Torna a imagem redonda */
  border: 2px solid #ccc; /* (Opcional) Adiciona uma borda à imagem */
}


.brand-icons {
  display: flex;
  justify-content: center; /* Centraliza as imagens horizontalmente */
  align-items: center; /* Centraliza as imagens verticalmente */
  gap: 20px; /* Espaçamento entre as imagens */
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #004aad;
  color: #fff;
  z-index: 1000; /* Garante que fique acima de outros elementos */
}


.nav-item {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}

.nav-item.active {
  color: #ffeb3b;
}

.nav-item i {
  font-size: 1.5rem;
  margin-bottom: 5px;
}





 @media (max-width: 438px) {
  .text-limit {
      white-space: nowrap;
      overflow: hidden; 
      text-overflow: ellipsis;
      max-width: 22ch; 
  }
}
